body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9ca8ae;
  font-weight: normal;
  background: #ffffff;
  background-attachment: fixed !important;
}

.navbar-default {
    background: #f3f1e2;
    border-color: #f3f1e2;
}

img {
  max-width: 100%;
}

a.black {
    color: #000;
    text-decoration: none;
}

#title {
    text-transform: uppercase;
    text-align: center;
}

#title h1 {
    font-weight: bold;
    letter-spacing: 10px;
}

.nav-border-bottom {
    border-bottom: 1px solid #9ca8ae;
}

.nav-header {
    height: 100px;
}